.h1 {
    color: #0099ff;
    background-color: #35393e;
    font-style: italic;
    text-align: center;
    border-width: 4px;
    border-color: limegreen;
    border-style: dashed;
    border-radius: 10px;
    margin: auto;
    width: fit-content;
    padding: 10px;
    margin-top: 60px;
}

.h2 {
    color: #0099ff;
    background-color: #35393e;
    font-style: italic;
    font-size: x-large;
}

.redacted {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.vidoes {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    font-size: 26px;
    border-width: 1px;
    border-color: cyan;
    border-style: dashed;
    box-shadow: 0 1px 2px rgba(34, 34, 34, 0.2);
}

.credits {
    color: limegreen;
    background-color: darkgreen;
}

body {
    color: white;
    background-color: #35393e;
    animation-name: bg-color-animation;
    animation-duration: 2626ms;
    animation-iteration-count: 1;
}

a {
    color: aqua;

}

a:hover {
    color: lightseagreen;
}

/* testing comments */

.h1:hover {
    background-color: darkgreen;
    box-shadow: 6px 10px 8px 2px rgba(255, 255, 255, 0.164);

}

.h1 {
    transition: 0.3s;
}

.myForm {
    border-width: 4px;
    border-color: limegreen;
    border-style: dashed;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.userdetails {
    color: #0099ff;
    margin-top: 80px;
}

.navigation {
    border-width: 4px;
    border-color: limegreen;
    border-style: dashed;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 8px;
    position: fixed;
    width: fit-content;
    background-color: black;
    margin-top: -26px;
    margin-left: 10px;

}

.navigation a:hover {
    background-color: lightseagreen;
    color: aqua;
}

.navigation a:active {
    background-color: #04aa6d;
}

.active {
    background-color: #04aa6d;
}

nav a i {
    margin-right: 6px;
}

.home {
    padding: 14px;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
}

input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 6px;
}

::placeholder {
    color: red;
}

.submitt {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #04aa6d;
    color: white;

}

.stories-section {
    text-align: center;
    color: #0099ff;
    margin-bottom: 10px;
    margin-top: 80px;
}

.bodyz {
    background: linear-gradient(-45deg, rgb(64, 224, 149), #00ffea, rgb(0, 255, 157));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: black;
}

.sourcee {
    text-align: center;
    color: #0099ff;
    margin-bottom: 20px;
    /* margin-top: 80px; */
}

.islamic-bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.genTitle {
    margin-top: 60px;
    text-align: center;
}

#jokeGen {
    border: solid 3px #04aa6d;
    padding: 10px;
    margin: auto;
    width: fit-content;
    font-style: oblique;
}

.genJoke {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    border: solid 2px #04aa6d;
    display: flex;
}

.footerr {
    margin-top: 1000px;
}

@keyframes bg-color-animation {
    /* 0% {
        background-color: #35393e;
    }

    
    25% {
        background-color: #919caa;
    }

    
    50% {
        background-color: #cad7e7;
    }

    
    75% {
        background-color: #919caa;
    }

    100% {
        background-color: #35393e;
    } */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}